# Ignore node_modules and vendor directories
/node_modules
/vendor

# Ignore compiled files
/public/hot
/public/storage
/storage/*.key
/storage/app/public

# Ignore Laravel log and cache files
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Ignore environment files
/.env
/.env.*.php
/.env.php

# Ignore IDE specific files
/.idea
/.vscode

# Ignore Laravel Mix files
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css

# Ignore Composer dependencies
/vendor

# Ignore npm packages
/node_modules

# Ignore Yarn Integrity file
.yarn-integrity

# Ignore testing files
/phpunit.result.cache

# Ignore MacOS files
.DS_Store

# Ignore Thumbnails
/public/storage/thumbnails
